@import 'variaveis.scss';

.bg-navbar {
    background: rgb(255, 66, 66);
    background: linear-gradient(42deg, rgba(255, 66, 66, 1) 0%, rgba(164, 0, 0, 1) 35%, rgba(48, 0, 0, 1) 100%);
}

h3,
h4 {
    color: $white;
    text-transform: $uppercase;
    font-weight: $bold;
    text-align: $center;
    margin-top: 20px;
}

.navbar-container {
    display: $flex;
    justify-content: $center;
    border-bottom: 1px solid rgb(77, 77, 77);
}

.nav-underline {

    padding: 1.5em;

    .nav-link {
        color: $darkred;
        text-transform: $uppercase;
        font-weight: $bold;

        &.active {
            color: $red;
            cursor: text;
        }
    }
}